= render 'header'
%div.jumbotron
  %h1.page-header Hello there!
  %h2 Use Prilepin's Strength to generate, track and share your strength journey!
  = link_to "Sign Up", sign_up_path, class: "btn btn-primary btn-lg"
= render 'footer'
