-provide :title, @user.user_name
.row
  %aside.span4
    %section
      %h1
        -# = gravatar_for @user
        = @user.user_name

%ul
  %li= link_to "Profile", user_path(@user)
  %li= link_to "Sign Out", signout_path
