%li.row.list-group-item.h3
  .col-md-9.col-md-offset-1
    = post.content
    %br
    = time_ago_in_words(post.created_at) + " ago"
  .col-md-1
    = link_to("delete", user_post_path(post.user_id, post.id), method: 'delete', confirm: "Are you sure?", title: "Delete post")
