.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
    .hero-copy
      %h1 Hello there! Welcome to Prilepin's Strength.
      %p Track, share and succeed in your strength journey!
    %button.btn.btn-primary.btn-lg= link_to "Sign Up!", new_user_registration_path
