.container-fluid
  %header.navbar.navbar-fixed-top.navbar-inverse
    %h1.navbar-text= link_to "Prilepin's Strength", root_path
    %nav
      %ul.pull-right.list-inline.navbar-text
        %li= link_to "About", about_path
        %li= link_to "Sign In", new_session_path
